.filter-container {
  position: relative;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: $border-md;
  transition: 0.2s ease;

  img {
    top: 1.6rem;
    right: 2rem;
    position: absolute;
    z-index: 1;
  }

  select {
    cursor: pointer;
    border-radius: $border-md;
    padding: 2rem;
    width: 100%;
    font-size: 1.6rem;
    text-align: left;
    border: 0;
    appearance: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-dark_grey;
      font-weight: $font-regular;
    }
  }
}
