.search-container {
  position: relative;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: $border-md;
  transition: 0.2s ease;

  img {
    top: 1.6rem;
    left: 1.5rem;
    position: absolute;
  }

  input {
    width: 100%;
    padding: 2rem 2rem 2rem 4.8rem;
    border-radius: $border-md;
    font-size: 1.6rem;
    text-align: left;
    border: 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-dark_grey;
      font-weight: $font-regular;
    }
  }
}
