@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Patrick+Hand&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    font-size: 62.5%; //1rem = 10px
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2.4rem;
    font-weight: $font-bold;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-regular;
    color: $color-dark-grey;
    font-size: 1.4rem;
}

.fluid {
    max-width: 100%;
    height: auto;
}

.scroll {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    background-color: $color-white;
}

::-webkit-scrollbar {
    width: .8rem;
}
 
::-webkit-scrollbar-track {
    background-color: transparent;
}