// --FONT--

// font weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// --COLOURS--
$color-red: #FF9696;
$color--blue: #96C0FF;
$color-white: #fff;
$color-light-yellow: #FFFFED;
$color-green: #6F804D;
$color-ligth-green: #829C4E;
$color-dark-grey: #757575;
$color-light-gray-1: #D0DCCB;
$color-light-gray-2: #79797a;
$color-light-gray-3: #6D6D6D;
$color-light-gray-4: #3d3d3d;
